@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these imports for slick-carousel styles */
/* @import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css"; */

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  /* border: 1px solid #000; */
  margin: 0;
  padding: 0;
}
body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

/* @layer utilities {
  .font-gilroy-light {
    font-family: var(--font-gilroy-light), Arial, sans-serif;
    font-weight: 300;
  }
  .font-gilroy-normal {
    font-family: var(--font-gilroy-normal), Arial, sans-serif;
    font-weight: 400;
  }
  .font-gilroy-bold {
    font-family: var(--font-gilroy-bold), Arial, sans-serif;
    font-weight: 800;
  }
} */

@layer utilities {
  .font-gilroy-light {
    @apply font-gilroyLight;
  }
  .font-gilroy-normal {
    @apply font-gilroy;
  }
  .font-gilroy-bold {
    @apply font-gilroyBold;
  }
}
